---
import SendIcon from "@/assets/icons/material-symbols--send.svg";
import Button from "@/components/button.astro";
import { locations } from "@/constants";
---

<tr>
  <td>
    <input type="text" name="referrer" placeholder="New referrer..." />
  </td>
  <td>
    <input type="checkbox" name="autoApprove" placeholder="Auto-approve" />
  </td>
  <td>
    <select name="defaultLocation">
      <option value="">None</option>
      {
        locations.map((location) => (
          <option value={location}>{location}</option>
        ))
      }
    </select>
  </td>
  <td>
    <Button action="create-referrer" text="Create Referrer" icon={SendIcon} />
  </td>
</tr>

<script>
  import { actions } from "astro:actions";

  const inputElem = document.querySelector(
    "input[name='referrer']",
  ) as HTMLInputElement;
  const checkboxElem = document.querySelector(
    "input[name='autoApprove']",
  ) as HTMLInputElement;
  const selectElem = document.querySelector(
    "select[name='defaultLocation']",
  ) as HTMLSelectElement;

  document
    .querySelectorAll("button[data-action='create-referrer']")
    .forEach((button) => {
      button.addEventListener("click", async (event) => {
        event.preventDefault();

        if (!inputElem || !checkboxElem || !selectElem) {
          console.error("Input or checkbox not found");
          return;
        }

        const referrer = inputElem.value;
        const autoApprove = checkboxElem.checked;
        const defaultLocation = selectElem.value === "" ? undefined : selectElem.value;
        await actions.createReferrer({
          referrer,
          autoApprove,
          defaultLocation,
        });
        window.location.reload();
      });
    });
</script>
