---
import { db, Comments } from "astro:db";
import Page from "@/components/page.astro";
import Comment from "@/components/comment.astro";
import Prompt from "@/components/na/prompt.astro";

const comments = await db.select().from(Comments);
const approvedComments = comments
  .filter((comment) => comment.status === "approved")
  .sort((a, b) => {
    return a.createdAt.getTime() - b.createdAt.getTime();
  });

// Shuffle the comments
const shuffledComments = approvedComments.sort(() => Math.random() - 0.5);
---

<Page particles>
  <main>
    <section id="comments">
      {
        shuffledComments.map((comment) => (
          <Comment
            content={comment.content}
            createdBy={comment.createdBy}
            location={comment.location}
          />
        ))
      }
    </section>
    <Prompt
      name="Pod 153"
      text="Pod 153 to player.\nPlease respond to this query.\nDo you have anything you would like to say to those who make NieR what it is?"
      options={[
        { text: "I have something I want to say.", href: "/e4bc9d" },
        { text: "Nope nothing at all.", href: "/" },
      ]}
    />
  </main>
</Page>

<style>
  main {
    position: relative;
    background: linear-gradient(to bottom, transparent 100dvh, #110d00 calc(100% - 50dvh));
  }

  #comments {
    padding-block: 5vw;
    z-index: 2;
    padding-bottom: 50dvh;
  }
</style>
