---
import { db, Comments } from "astro:db";
import Page from "@/components/page.astro";
import Comment from "@/components/comment.astro";
import PromptSuccess from "./partials/prompt-success.astro";
import PromptOptout from "./partials/prompt-opt-out.astro";
import PromptDefault from "./partials/prompt-default.astro";

const comments = await db.select().from(Comments);
const approvedComments = comments
  .filter((comment) => comment.status === "approved")
  .sort((a, b) => {
    return a.createdAt.getTime() - b.createdAt.getTime();
  });

// Shuffle the comments
const shuffledComments = approvedComments.sort(() => Math.random() - 0.5);

const state = Astro.cookies.get("state")?.value ?? "default";
---

<Page particles>
  <main>
    <section id="comments">
      {
        shuffledComments.map((comment) => (
          <Comment
            content={comment.content}
            createdBy={comment.createdBy}
            location={comment.location}
          />
        ))
      }
    </section>
    {
      state === "default" ? (
        <PromptDefault />
      ) : state === "opt-out" ? (
        <PromptOptout />
      ) : state === "success" ? (
        <PromptSuccess />
      ) : null
    }
  </main>
</Page>

<style>
  main {
    min-height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background: linear-gradient(to bottom, transparent, #110d00 70%);
  }

  #edit {
    position: fixed;
    bottom: 1rem;
    right: 0;
    background: #110d00;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    padding-right: 1.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px 10px var(--color-background);

    & > div {
      width: 42px;
      height: 42px;
      margin: 6px;
      padding: 6px;
      box-sizing: border-box;
      border-radius: 9999px;
      background: var(--color-background);
    }
  }

  #comments {
    padding-top: 5vw;
    padding-bottom: 5em;
    overflow: hidden;
  }
</style>

<script>
  import { actions } from "astro:actions";

  const prompt = document.getElementById("home-prompt");
  if (prompt) {
    const defaultOptoutButtons = prompt.querySelectorAll("[data-button-name='opt-out']");
    if (defaultOptoutButtons.length > 0) {
      defaultOptoutButtons.forEach((button) => {
        button.addEventListener("click", async () => {
        await actions.setState({
          state: "opt-out",
          maxAge: 60 * 60 * 24 /* 1 day */,
        });
        const newPrompt = await fetch("/partials/prompt-opt-out");
        const newPromptContent = await newPrompt.text();
        prompt.innerHTML = newPromptContent;
        });
      });
    }
  }
</script>
