---
import ArrowLeftAltIcon from "@/assets/icons/material-symbols--arrow-left-alt.svg";
---

<a href="/" id="back-to-site">
  <ArrowLeftAltIcon />
  Back to the site
</a>

<style>
  a {
    display: inline-flex;
    place-items: center;
    gap: 4px;
    text-decoration: none;
    color: canvasText;
    font-weight: 600;

    transition: color 100ms ease;

    &:hover {
      color: color-mix(in srgb, canvasText 70%, Canvas);
    }
  }
</style>
